<<<<<<< HEAD
header {
	width: 100%;
	height: 60px;
	background-color: #0a0a0a;
	margin: 0 auto;
}

nav {
	width: 80%;
	height: 60px;
	margin: 0 auto;
	position: relative;
}

.nav-img {
	line-height: 60px;
	float: left;
}

.nav-links {
	position: absolute;
	right: 0px;
}

.nav-links li {
	float: left;
	margin-left: 20px;
	line-height: 60px;
}

.nav-links li a {
	text-decoration: none;
=======
body {
>>>>>>> 0d5f210 (lesson20-tranphuocthanh 25.04.2024)
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Arial', sans-serif;
}

.page-header {
	width: 100%;
	height: 66px;
	background-color: #181713;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper {
	width: 1120px;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
}

.logo {
	float: left;
	margin-top: 24px;
}

.main-nav {
	float: right;
	line-height: 66px;
}

.main-nav li {
	display: inline-block;
	margin-left: 92px;
}


.main-nav li a {
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
}

/*MAIN*/

.banner {
	background-image: url(../images/banner.png);
	height: 620px;
	background-size: cover;
	padding-top: 240px;
	box-sizing: border-box;
}

.banner .banner-block {
	text-align: center;
}

.title {
	font-size: 60px;
}

.subtitle {
	margin: 10px 0 20px;
}

.learn-more {
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;

	color: inherit;
	background-color: #ca0500;
}

/*ARTICLE*/
.articles {
	background-image: linear-gradient(100deg, 
		rgba(255,255,255,1) 0%,
		rgba(255,255,255,1) 49%,
		rgba(0,0,0,1) 49%,
		rgba(0,0,0,1) 100%);;

	padding-top: 64px;
}

article:first-of-type{
	color: #000;
	padding-right: 112px;
	box-sizing: border-box;
}

article:last-of-type{
	padding-left: 112px;
	box-sizing: border-box;
}


.articles article{
	float: left;
	width: 50%;
}

article .title {
	font-size: 38px;
}

article .title::after {
	content: '';
	display: block;
	width: 40px;
	height: 2px;
	background-color: #ca0401;
	margin: 30px 0;
}

article .quote {
	font-size: 24px;
}

article .text {
	margin: 28px 0 66px;
}

/*FOOTER*/

.page-footer {
	width: 100%;
	height: 177px;
	background-color: #111;
	padding-top: 30px;
	color: #878787;
}

.footer-col {
	width: 25%;
	float: left;
}

.footer-col h3::after{
	content: '';
	display: block;
	width: 80%;
	height: 1px;
	opacity: 0.9;
	margin: 15px 0;
	background-color: #3c3c3c;
}

.footer-col h3{
	font-size: 22px;
	text-transform: uppercase;
	color: #fff;
}

.footer-col ul li a {
	text-decoration: none;
	color: #878787;
}

.social ul li {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #000;
	margin-right: 5px;
}

.social p {
	margin-top: 35px;
}