/*
=======================
	STYLE.CSS
	-> chứa css chung cho dự án
=======================
CSS Selector: Tập các cách để gọi các element, tag của html để thêm css vào
			: Gọi thông qua tên thẻ, thuộc tính thẻ

VD1: p{} --> css cho element có thê thẻ là p
VD2: ul li {} --> css cho các element là thẻ li con thẻ ul
VD3: table tr:first-child {} -> css cho thẻ tr đầu tiên trong table

Nếu như css selector dựa vào Tên Thẻ -> có nhiều hạn chế, vì 1 trang có thể dung rất nhiều thẻ trùng nhau,
các thẻ đó là muốn có css khác nhau -> thêm thuộc tính, giá trị thuộc tính cho thẻ để phân biệt với các thẻ khác
=======================

selector:nth-child(an+b)
p:nth-child(2)
-> Tìm p nào mà là thẻ con thứ 2 bên trong thẻ cha nào đó, ăn css
-> Không tính cha là body, html

selector:nth-of-type(an+b)
-> Tương tự nth-child, không quan tâm đến các thẻ khác làm thẻ con mà chỉ quan tâm thẻ selector(ví dụ là p) 

Có thể thêm bất kỳ thuộc tính với tên giá trị nào
VD: div[tt='x2']

Thường html, css, js dùng 2 thuộc tính đặc biệt là class và id để phân biệt các element 

class: các elements có thể có giá trị trùng nhau cho thuộc tính class
id   : mỗi elements sẽ có id là duy nhất, không trùng nhau

VD: <div class="text-bold">
	<div class="text-bold">

	<p id="footer">
	<p id="header">
*/
/*Trong block: root(toot elenment) khai báo các global variable
sau đó dung hàm var(tenbien) để gọi nó*/
:root {
	--todo-green: #44D2AA;
}
@font-face {
			font-family: Chantelli;
			src: url('webfonts/Chantelli_Antiqua.woff') format('woff');
}

h4::after {
	content: '\2705' !important;
}

.block-1 {
	width: 100px;
	height: 100px;
}

.block-md-2-blue {
	width: 200px;
	height: 200px;
	border: 2px solid blue;
}

.block-33-bg-orange {
	width: 300px;
	height: 300px;
	background-color: orange;
}
.block-62-bg-blue {
	width: 600px;
	height: 200px;
	background-color: blue;
}
.title{
	color: var(--todo-green);
	text-transform: capitalize;
}
.text-green {
	color: var(--todo-green);
}
.bg-green {
	background: var(--todo-green);
}
.text-red {
	color: red;
}
.text-bold{
	font-weight: 700;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-deco-line-through{
	text-decoration: line-through;
}

.bg-red {
	background-color: red;
}
.bg-orange {
	background-color: orange;
}
.bg-blue {
	background-color: blue;
}
.bg-pink {
	background-color: pink;
}
.clear-left {
	clear: left ;
}
.clear-right {
	clear: right;
}
.clear-both {
	clear: both;
}