*{
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}


p,li{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

nav {
    background-color: black;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    overflow: auto; /* Add this to contain the floated children */
}

nav img{
    margin-left: 30%;
}

.logo{
    width: 30%;
    float: left; /* Float the logo to the left */
}

.list{
    width: 70%;
    float: right; /* Float the list to the right */
}

nav ul{
    padding-left: 50px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 7%;
}

nav ul li a{
    color: white;
}

section {
    padding: 280px 0;
    text-align: center;
    background-image: url(../images/banner.png);
    background-repeat:no-repeat;
    background-size: cover;
}

section p{
    color: white;
    margin-top: 10px;
}

.banner p:first-child{
    font-size: 3rem;
    text-transform: uppercase;
}

.banner button{
    margin-top: 20px;
    padding: 20px 30px;
    text-transform: uppercase;
    background-color: red;
    color: white;
    border: none;

}
.banner button:hover{
    cursor: pointer;
}