* {
	box-sizing: border-box;
}

body {
	height: 100%;
}

#header {
	height: 66px;
	background-color: #2b2b2b;
}

.wrapper {
	width: 86%;
	height: 100%; /*100% so với height của parent element*/
	/*background: lightpink;*/
	margin: 0 auto;
}

.page-logo {
	float: left;
	/*trick*/
	/*line-height: 66px;*/
	/*33px(header/2) - 9px(image/2)*/
	margin-top: 24px;

}

.page-links {
	float: right;
}

.page-links li {
	float: left;
	margin-left: 44px;
	line-height: 66px;
}

.page-links li a:hover:after {
	content: '';
	display: block;
	width: 100%; /*100% theo width của thẻ a*/
	height: 2px;
	background-color: #8b008b;
	margin-top: -18px;
}

.page-links li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.whx {
	width: 1520px;
	height: 680px;
	align-content: center;
	text-align: center;
}

#bg-img {
	background-image: url('../images/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.body-content {
	background-image: linear-gradient(100deg, white 0%, white 50%, black 50%, black 100%);
	overflow: auto;
}

.title-banner {
	font-family: Arial;
	color: white;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 10px;
}

.decs-banner {
	color: white;
	font-family: Arial;
	margin: 15px auto;
}

.red-button {
	width: 200px;
	height: 60px;
	text-transform: uppercase;
	color: white;
	line-height: 60px;
	text-align: center;
	background-color: red;
	margin-left: 660px; 
	margin-top: 10px;
}

.div-body {
	width: 50%;
	font-family: Tahoma;
	padding: 0 170px;
}

.div-body p {
	margin: 20px 0;
}

.div-body p:last-child {
	margin-bottom: 50px !important;
}

.white {
	color: white;
}

.black {
	color: black;
}

.title-body {
	margin: 50px 0 20px;
	line-height: 66px;
	font-size: 30px;
}

.title-body::after {
	content: '';
	display: block;
	width: 30px;
	height: 3px;
	background-color: red;
}

.intro {
	font-style: italic;
	margin: 30px 0 !important;
} 

.fl-left {
	float: left;
}

.clear {
	clear: left;
}

#footer {
   width: 100%;
   height: 200px;
   background-color: #2b2b2b;
   font-family: Arial;
   color: white;
}

.w3h4 {
	width: 15%;
	height: 100%;
	float: left;
	margin: 20px 5%;
	padding: 20px;
}

.w3h4 p:firstchild {
	font-size: 12px;
	font-weight: bold;
}

.w3h4 ul li {
	font-size: 11px;
	margin: 10px 0;
}

.w3h4 .social-links li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	font-weight: bold;
	background-color: #000;
	border-radius: 50%;
	text-align: center;
}

.w3h4 .social-links {
	overflow: auto;
}

.w3h4 .social-links li a {
	font-size: 14px;
	text-decoration: none;
}

.w3h4 .social-links li a i {
	color: #fff;
}

.exoti-footer {
	clear: left;
	font-size: 11px;
	font-weight: 100;
	margin-top: 20px;
}